@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&display=swap');




:root {
  --foreground-rgb: rgb(250, 249, 249)
  --background-start-rgb: rgb(250, 249, 249)
  --background-end-rgb: rgb(250, 249, 249)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(250, 249, 249)
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.grid-coffee {
  display: grid;
  grid-template-columns: repeat(auto-fill, 17rem);
  grid-template-rows: repeat(4, 21rem);
}
